# Ignore Jupyter Notebooks from Github Linguist Stats
*.ipynb linguist-language=py
writeup/* linguist-documentation
*.lock linguist-generated=true
*.csv filter=lfs diff=lfs merge=lfs -text
data/* filter=lfs diff=lfs merge=lfs -text
